@import '../../assets/sass/colors';

.main-article{
  width: 100%;
  margin-bottom: 40px;
  min-height: 100%;
  .wrapper{
    min-height: 100vh;
  }
  &__info{
    padding: 45px 45px 115px 45px;
    max-width: 520px;
    background: #2b2b2b7d;
  }
  &__top-text{
    margin-bottom: 5px;
  }
  &__title{
    font-size: 65px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__description{
    font-size: 22px;
    margin-bottom: 20px;
  }
  &__link{
    background: url('../../assets/img/wikipedia.svg') no-repeat 0 center / 20px;
    padding-left: 30px;
    text-decoration: underline;
    color: $white;
    &:hover{
      text-decoration: none;
    }
  }
  &__veredict{
    margin-top: 40px;
    font-size: 20px;
  }
  &__closing-bar{
    width: 100%;
    bottom: 0;
  }
  &__closing{
    width: 30%;
    text-align: right;
    background: $dark_op;
    color: $white;
    padding: 10px;
    line-height: 46px;
  }
  &__date{
    width: 70%;
    text-align: left;
    color: $dark;
    padding: 10px;
    font-size: 40px;
    background: $gray_op;
    font-weight: 300;
  }
}

// Voting Buttons
  .voting-bar{
    height: 80px;
    left: 0;
    bottom: 0;
    &__button{
      width: 50%;
      cursor: pointer;
      div{
        background-size: 40px;
        transition: all .2s ease-in-out;
        background-color: transparent;
      }
      &:hover{
        div{
          background-size: 38px;
        }
      }
    }
  }
// .Voting Buttons

@media screen and (max-width: 768px) {
  .main-article{
    &__info{
      max-width: initial;
      width: 100%;
    }
  } 
}

@media screen and (max-width: 480px) {
  .main-article{
    &__info{
      padding: 40px 40px 90px 40px;
    }
    &__title{
      font-size: 45px;
    }
    &__description{
      font-size: 16px;
    }
    &__closing{
      line-height: 34px;
      font-size: 14px;
    }
    &__date{
      font-size: 30px;
    }
  }

  .voting-bar{
    height: 60px;
    &__button{
      div{
        background-size: 30px;
      }
    }
  }
}