.message-box{
  margin-bottom: 40px;
  padding: 20px 30px;
  &__title{
    font-size: 38px;
    font-weight: 600;
    margin: 0;
  }
  &__subtitle{
    margin: 0;
    font-size: 22px;
  }
  &__description{
    margin: 0;
    width: calc(100% - 260px);
  }
  &__close{
    background: url('../../assets/img/close.svg') no-repeat center / 15px;
    height: 40px;
    width: 20px;
    cursor: pointer;
    &:hover{
      background-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .message-box{
    flex-direction: column;
    align-items: initial;
    position: relative;
    &__info{
      margin-bottom: 10px;
    }
    &__subtitle{
      font-size: 18px;
    }
    &__title{
      font-size: 30px;
    }
    &__description{
      width: 100%;
    }
    &__close{
      position: absolute;
      right: 15px;
      top: 15px;
      background-size: 12px;
    }
  }
}