@import '../../assets/sass/colors';

.header{
  background-image: linear-gradient(to bottom, $dark, transparent);
  padding: 10px 0;
  width: 100%;
  z-index: 2;
  &__logo{
    font-size: 30px;
    a{
      font-weight: 500;
      color: $white;
    }
  }
  
  &__menu-button{
    display: none;
    width: 30px;
    z-index: 1;
    right: 10px;
    top: 30px;
    cursor: pointer;
    padding: 10px;
    box-sizing: initial;
    &:hover{
      .header__menu-line{
        &:last-of-type{
          width: 100%;
          margin-left: 0;
        }    
      }   
    }
  }
  &__menu-line{
    width: 100%;
    height: 2px;
    background: $white;
    position: relative;
    transition: all .2s ease-in-out;
    &:last-of-type{
      margin: 5px 0 0 6px;
      width: 80%;
    }
  }
  
  &__menu-item{
    padding: 30px;
    color: $white;
    font-weight: 600;
    cursor: pointer;
    a{
      color: $white;
    }
  }
}

@media screen and (max-width: 768px) {
  .header{
    &__menu-item{
      padding: 30px 15px;
    }
  }
}

@media screen and (max-width: 680px) {
  .header{
    padding: 25px 0 0 0;
    &__logo{
      a{
        font-weight: 700;
        font-size: 25px;
      }
    }
    &__menu-button{
      display: block;
    }
    &__menu{
      position: fixed;
      width: 100%;
      height: 100%;
      flex-direction: column;
      left: 0;
      top: 0;
      padding-top: 80px;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
      &:before,
      &:after{
        content: '';
        position: absolute;
        height: 100%;
        width: 0;
        left: 0;
        top: 0;
        right: auto;
        background: $green;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease-in-out;
      }
      &:after{
        right: 0;
        left: auto;
        background: $orange;
      }
    }
    &__menu-item{
      width: 100%;
      padding: 20px 15px;
      text-align: center;
      font-size: 25px;
      display: inline-block;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
      position: relative;
      z-index: 1;
      &.search{
        display: none;
      }
    }
    &__menu-auth-item{
      padding: 0;
      span{
        display: none;
      }
      a{
        display: block;
        padding: 20px 15px;
      }
    }

    &[data-state='true']{
      .header__logo{
        z-index: 1;
      }
      .header__menu{
        opacity: 1;
        visibility: visible;
        &:before,
        &:after{
          width: 50%;
          opacity: 1;
          visibility: visible;
        }
        .header__menu-item{
          opacity: 1;
          visibility: visible;
        }
      }
      .header__menu-line{
        &:first-of-type{
          transform: rotate(45deg);
          top: 3px;
        }
        &:last-of-type{
          top: -3px;
          transform: rotate(-45deg);
          width: 100%;
          margin-left: 0 !important;
        }
      }
    }
  }
}