@import '../../assets/sass/colors';

.footer{
  font-size: 14px;
  .wrapper{
    max-width: 1020px;
    padding: 20px 0;
    background-image: linear-gradient(to right, $dark2 20%, transparent 0%);
    background-position: top;
    background-size: 6px 1px;
    background-repeat: repeat-x;
  }
  .secondary-nav{
    &__item{
      color: $dark2;
      margin: 0 30px 0 0;
      &:hover{
        color: $dark;
      }
    }
  }
  .social{
    color: $dark2;
    &__item{
      margin: 0 0 0 20px;
    }
  }
}

@media screen and (max-width: 1040px) {
  .footer{
    .wrapper{
      padding: 20px 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer{
    .wrapper{
      flex-direction: column;
      .secondary-nav{
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .footer{
    .wrapper{
      .secondary-nav{
        margin-bottom: 30px;
        flex-direction: column;
        display: flex;
        text-align: center;
        a{
          padding: 15px;
          margin: 0;
        }
      }
    }
  }
}