@import '../../assets/sass/colors';

.post{
  padding: 50px;
  width: 100%;
  max-width: calc(50% - 20px);
  height: 550px;
  margin-bottom: 40px;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, $dark, transparent);
  }
  &:nth-child(odd){
    margin-right: 40px;
  }
  &__info{
    z-index: 1;
    margin-bottom: 40px;
  }
  &__title{
    font-size: 42px;
    margin: 0;
  }
  &__description{
   margin-bottom: 30px; 
  }
  &__date{
    margin-bottom: 20px;
  }
  &__voting-button{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    &[data-state='true']{
      border-color: $white;
    }
    div{
      transition: all .2s ease-in-out;
    }
    &:hover{
      div{
        background-size: 18px;
      }
    }
  }
  &__like-fixed{
    height: 36px;
    width: 36px;
    left: 0;
    bottom: 246px;
    position: absolute;
    z-index: 1;
  }
}

// Vote results
  .vote-results{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    &__item{
      height: 50px;
      transition: all 0.2s ease;
      .like,
      .dislike{
        height: 100%;
        width: 45px;
        background-size: 25px;
        background-color: transparent;
        transition: all 0.2s ease;
      }
    }
    &__progress{
      left: 0;
      top: 0;
      div{
        transition: all .2s ease;
      }
    }
    &__progress-like{
      background: $green_op;
    }
    &__progress-dislike{
      background: $orange_op;
    }
    &__amount{
      font-size: 28px;
      font-weight: 300;
    }
    &--main-post{
      .voting-bars__button{
        height: 80px;
        div{
          background-size: 40px;
        }
        &:hover{
          div{
            background-size: 38px;
          }
        }
      }
    }
  }
// .Vote results

@media screen and (max-width: 768px) {
  .post{
    max-width: initial;
    margin: 0 0 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .post{
    &__title{
      font-size: 38px;
    }
  }
}