.intro-page{
  padding: 180px 0 80px 0;
  margin-bottom: 40px;
  &__bg{
    left: 0;
    top: 0;
    opacity: 0.5;
  }
  &__title{
    font-size: 40px;
    margin-bottom: 10px;
  }
  &__description{
    font-size: 18px;
  }
}