.banner{
  width: 100%;
  margin-bottom: 40px;
  padding: 20px 30px;
  &__bg{
    left: 0;
    top: 0;
    opacity: 0.2;
  }
  &__description{
    margin-bottom: 0;
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .banner{
    &__info{
      flex-direction: column;
    }
    &__description{
      margin-bottom: 20px;
      font-size: 26px;
    }
  }
}