
@import './colors';

.color-white{
  color: $white;
}
.color-green{
  color: $green;
}
.color-dark{
  color: $dark;
}
.color-orange{
  color: $orange;
}
.color-gray{
  color: $gray;
}

.bg-white{
  background-color: $white;
}
.bg-green{
  background-color: $green;
}
.bg-green-op{
  background-color: $green_op;
}
.bg-orange{
  background-color: $orange;
}
.bg-orange-op{
  background-color: $orange_op;
}
.bg-gray{
  background-color: $gray;
}
.bg-dark{
  background-color: $dark;
}
.bg-transparent{
  background-color: transparent;
}

.is-block{
  display: block;
}
.is-none{
  display: none;
}
.is-flex{
  display: flex;
}
.flex-align-center{
  align-items: center;
}
.flex-justify-center{
  justify-content: center;
}
.flex-between{
  justify-content: space-between;
}
.flex-end{
  align-items: flex-end;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.flex-row{
  flex-direction: row;
}

.is-relative{
  position: relative;
}
.is-absolute{
  position: absolute;
}
.is-fixed{
  position: fixed;
}

.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}

.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}