@import url('../css/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');
@import './helpers';
@import './colors';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

.wrapper{
  width: 100%;
  max-width: 1044px;
  margin: 0 auto;
  padding: 0 10px;
}

.block-title{
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 40px;
}

.button{
  border: 1px solid $white;
  background: transparent;
  color: $white;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.2s ease;
  &:hover{
    background: $white;
    color: $dark;
  }
  &__dark{
    color: $dark;
    border-color: $dark;
    &:hover{
      color: $white;
      background: $dark;
    }
  }
  &__big{
    font-size: 18px;
    padding: 15px 40px;
    border-width: 2px;
  }
}

.like,
.dislike{
  background: url('../img/like.svg') no-repeat center / 20px $green;
}
.dislike{
  background-color: $orange;
  transform: rotate(-180deg);
}

@media screen and (max-width: 480px) {
  .block-title{
    font-size: 34px;
  }

  .button{
    &__big{
      width: 100%;
    }
  }
}